.sync{
    margin-top: 200px;
}

.sync button{
    appearance: none;
    backface-visibility: hidden;
    background-color: #2f80ed;
    border-radius: 10px;
    border-style: none;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    margin-top: 40px;
}